# Example `.env` file meant for 
# ---------------------------------
#     LOCAL DEVELOPMENT ONLY! 
#  DO NOT COMMIT THE `.env` FILE!
# ---------------------------------
# Rename and update values as needed.

# DB_HOST=localhost
# DB_NAME=appdb
# DB_USER=appuser
# DB_PASSWORD=SECRET
# DATABASE_URL=postgresql://$DB_USER:$DB_PASSWORD@$DB_HOST/$DB_NAME